@charset "utf-8";
/* CGV PJ 메인 페이지 css - main.css */

/* 외부 공통 css 합치기 */
@import url(./reset.css);
@import url(./core.css);

/* 공사중 표시 */
body *{
    outline: 1px dashed ghostwhite;
}

/* 전체 배경색 */
body{
    background-color: #000;
}

/*********************** 1. 상단 영역 ***********************/
/* 속박스 */
.top{
    height: 80px;
    /* 배경이미지 */
    background: url(../images/curtain.jpg) repeat-x;
}

/* 1-1. 로고 */
.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    line-height: 80px;
    text-align: center;

    /* 글로우 효과 */
    text-shadow: 0 0 4px goldenrod;
    /* 애니메이션: 이시이지반방마 */
    animation: titAni .5s ease-in infinite alternate;
}

/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titAni {
    to{
        text-shadow: 0 0 10px goldenrod;
    }
} /* 키프레임 */

/*********************** 2. 메인 영역 ***********************/
/* 속박스 */
.cont{
    /* 부모 자격 - .screen */
    position: relative;

    height: 788px;
    /* 극장 배경 넣기 */
    background: url(../images/bg.jpg) no-repeat center/100%;
}

/* 2-1. 스크린 */
.screen{
    position: absolute;
    top: 136px;
    left: 257px;
    width: 701px;
    height: 397px;
    background-color: #000;
}

/* 유튜브 iframe */
.screen iframe{
    /* 화면 채우고 보더 없애기 */
    width: 100%;
    height: 100%;
    border: none;
}

/* 2-2. 예고편 선택 메뉴 */
.mlist{
    position: absolute;
    bottom: 61px;
    left: 50%;
    width: 701px;
    transform: translateX(-49%);
    
    /* 앱솔루트 부모자격이 있는 요소의 overflow가 적용됨 */
    overflow: hidden;
}

/* 선택 메뉴 ul */
.mlist ul{
    /* 플렉스박스 */
    display: flex;
    /* 진행방향 정렬 양쪽 끝 맞춘 후 사이 간격 일정하게 */
    justify-content: space-between;
}

/* 선택 메뉴  상위 */
.mlist ul>li{
}

/* 포스터 이미지 */
.mlist img{
    width: 99px;
    height: 140px;
}

/* 영화 정보 박스 */
.movtxt{
    /* 플렉스박스 */
    display: flex;
    /* 플렉스 진행방향 */
    flex-direction: column;
    /* 플렉스 진행방향 정렬 jcc: 중앙 */
    justify-content: center;

    /* 앱솔루트 포지션 */
    position: absolute;
    top: 100%;
    width: 99px;
    height: 140px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);

    /* 글자 셋팅 */
    font-family: 'Cute Font', cursive;
    font-size: 14px;
    line-height: 2;

    /* 트랜지션 trs: 속시이지*/
    transition:
    top .5s cubic-bezier(0.72, 0.1, 0.28, 0.86);
}

/* 상위 li에 마우스 오버 시 영화정보 올라오기 */
.mlist ul>li:hover .movtxt{
    top: 0;
}

/*********************** 3. 하단 영역 ***********************/
.info{
    height: 100px;
}