@charset "utf-8";
/* CGV PJ 메인 페이지 css - main.css */

/* 외부 공통 css 합치기 */
@import url(./reset.css);
@import url(./core.css);

/* 공사중 표시 */
body *{
    outline: 1px dashed ghostwhite;
}

/* 전체 배경색 */
body{
    background-color: #000;
}

/*********************** 1. 상단 영역 ***********************/
/* 속박스 */
.top{
    height: 80px;
    /* 배경이미지 */
    background: url(../images/curtain.jpg) repeat-x;
}

/* 1-1. 로고 */
.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    line-height: 80px;
    text-align: center;

    /* 글로우 효과 */
    text-shadow: 0 0 4px aquamarine;
    /* 애니메이션: 이시이지반방마 */
    animation: titAni .5s ease-in infinite alternate;
}

/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titAni {
    to{
        text-shadow: 0 0 12px aquamarine;
    }
} /* 키프레임 */

/*********************** 2. 메인 영역 ***********************/
/* 속박스 */
.cont{
    /* 부모 자격 - .screen */
    position: relative;

    height: 788px;
    /* 극장 배경 넣기 */
    background: url(../images/bg.jpg) no-repeat center/100%;
}

/* 2-1. 스크린 */
.screen{
    position: absolute;
    top: 136px;
    left: 257px;
    width: 701px;
    height: 397px;
    background-color: #f00;
}

/* 유튜브 iframe */
.screen iframe{
    /* 화면 채우고 보더 없애기 */
    width: 100%;
    height: 100%;
    border: none;
}

/*********************** 3. 하단 영역 ***********************/
.info{
    height: 100px;
}