/* 메인 배너용 CSS - ban.css */
@charset "utf-8";

.banner{
    position: relative;
}

.bantit{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

/* 배너 슬라이드 */
.slider{
    position: relative;
    left: 0%;
}

.slider li{
    /* 부모 자격 */
    position: relative;
}

/* 배너 컨텐츠 버튼 */
.banner button{
    border-radius: 20px;
    padding: 8px 40px;
    margin-top: 15px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.banner button:hover{
    background-color: hotpink;
    border-color: hotpink;
}

/* 배너 이미지 크기 설정 */
.banimg{
    width: 100%;
}