@charset "utf-8";

/* 큐브 애니메이션 css - cube.css */

html,body{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom, lightblue, lightcoral);
    height: 100vh;
}

/* 변수 셋팅 */
:root{
    /* 큐브 공통 크기 */
    --csz: 300px;
}

/* 큐브 */
.cube{
    position: absolute;

    /* 정중앙계산: 50% - 크기 절반 */
    top: calc(50% - var(--csz)/2);
    left: calc(50% - var(--csz)/2);

    width: var(--csz);
    height: var(--csz);
    outline: 2px dotted lime;
}