@charset "utf-8";
/* 보그 PJ 공통페이지 css - common.css */

/************* 1. 상단영역 *************/
/* 속박스 */
.top{
    /* 최소 높이 */
    min-height: 206px;
}

/************* 2. 메인영역 *************/
/* 속박스 */
.cont{
    /* 최소 높이 */
    min-height: 600px;
}

/************* 3. 하단영역 *************/
/* 속박스 */
.info{
    /* 최소 높이 */
    min-height: 286px;
}