@charset "utf-8";
/* 메인페이지 css - main.css */

body {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.mtit{
    text-align: center;
}

/* 달력 넣을 부모박스 */
.wrap{
    display: flex;
    padding-top: 50px;
    padding-left: 20px;
}

/* mybx 공통 */
.mybx{
    /* 등분할 */
    flex: 1;
}

/* 입력부모 두 번째 박스 */
.mybx:nth-child(2){
    margin-left: 50px;
}