@charset "utf-8";
/* 서브페이지 공통 CSS - sub.css */

/* 
    [ import로 파일 합치기 ]
    외부 css 파일에서 다른 외부 css 파일을
    import 방식으로 불러올 때 장점은?
    html 파일에서 link 요소로 호출할 경우
    http request (웹요청) 이 많아져서
    페이지 렌더링 속도에 영향을 미친다.
    그러나 import 방식을 사용하면 더 적은 웹요청에 따라
    처리 속도에 도움이 된다.

    - 주의: import는 css 파일 상단에서 처리한다.
*/

/* @import url(파일주소); */
@import url(./common.css);

/* 본 css 설정 코드는 하단에서 처리한다. (import 밑에) */

/* 메인영역 박스 */
.cont{
    /* 패딩 15px (기존 20px의 재정의) */
    padding: 15px;
}

/* 2-1. 언론사 로고 */
.prlogo img{
    height: 32px;
    /* 이미지는 가로, 세로 중 한 쪽 값만 설정해도 자동으로 비율 유지 */
    }
/* 2-2. 기사 제목 */
.atit{
    /* 글자크기 fz30 */
    font-size: 30px;
    /* 글자두께 보통 fwn */
    font-weight: normal;
    /* 글자간격(자간) letter-spaciing : ls
    기본값 0(nomal), 양수는 멀어짐, 음수는 가까워짐 */
    letter-spacing: -1px;
    /* 단어간격 word-spacing : ws
    기본값 0(nomal), 양수는 멀어짐, 음수는 가까워짐 */
    word-spacing: 1px;

    /* 줄바꿈 방지 : 공백 -> 백공 -> white-space
    nowrap 박스에서 줄 바꿈 안되고 계속 감
    nomal (기본값) 박스 끝에서 줄 바꿈
    
    언제 씀?
    -> 줄 바꿈이 되면 안 될때
    예) 한 줄에 오는 버튼 글자, 한 줄에 말줄임표 */

    /* white-space: nowrap; */
}
/* 2-3. 기사 사진 (+ 사진 설명) */
.afig{
    /* 마진 m : 2개 값 ->위아래 양쪽 */
    margin: 15px 0;
    /* 인라인 가로 중앙 : tac (text-align center;) */
    text-align: center;
}
/* 기사이미지 */
.afig img{
    width: 100%;
}
/* 기사이미지 설명글 */
.afig small{
    /* 글자체 : ff */
    font-family: 'Source Serif Pro';
    /* 글자 크기 : fz 
    - 글자 크기의 최저 한계는 10px */
    font-size: 12px;
    /* 글자색 : c */
    color:#424242
}
/* 2-4. 기사 내용 */
/* 2-5. 기자 정보 */
/* 2-6. 기사 원문 */