@charset "utf-8";
/* 서브페이지 공통 CSS - sub.css */

/* 
    [ import로 파일 합치기 ]
    외부 css 파일에서 다른 외부 css 파일을
    import 방식으로 불러올 때 장점은?
    html 파일에서 link 요소로 호출할 경우
    http request (웹요청) 이 많아져서
    페이지 렌더링 속도에 영향을 미친다.
    그러나 import 방식을 사용하면 더 적은 웹요청에 따라
    처리 속도에 도움이 된다.

    - 주의: import는 css 파일 상단에서 처리한다.
*/

/* @import url(파일주소); */
@import url(./common.css);

/* 본 css 설정 코드는 하단에서 처리한다. (import 밑에) */

/* 메인영역 박스 */
.cont{
    /* 패딩 15px (기존 20px의 재정의) */
    padding: 15px;
}

/* 2-1. 언론사 로고 */
.prlogo img{
    height: 32px;
    /* 이미지는 가로, 세로 중 한 쪽 값만 설정해도 자동으로 비율 유지 */
    }

/* 2-2. 기사 제목 */
.atit{
    /* 글자크기 fz30 */
    font-size: 30px;
    /* 글자두께 보통 fwn */
    font-weight: normal;
    /* 글자간격(자간) letter-spaciing : ls
    기본값 0(nomal), 양수는 멀어짐, 음수는 가까워짐 */
    letter-spacing: -1px;
    /* 단어간격 word-spacing : ws
    기본값 0(nomal), 양수는 멀어짐, 음수는 가까워짐 */
    word-spacing: 1px;

    /* 줄바꿈 방지 : 공백 -> 백공 -> white-space
    nowrap 박스에서 줄 바꿈 안되고 계속 감
    nomal (기본값) 박스 끝에서 줄 바꿈
    
    언제 씀?
    -> 줄 바꿈이 되면 안 될때
    예) 한 줄에 오는 버튼 글자, 한 줄에 말줄임표 */

    /* white-space: nowrap; */
}

/* 2-3. 기사 사진 (+ 사진 설명) */
.afig{
    /* 마진 m : 2개 값 ->위아래 양쪽 */
    margin: 15px 0;
    /* 인라인 가로 중앙 : tac (text-align center;) */
    text-align: center;
}

/* 기사이미지 */
.afig img{
    width: 100%;
}

/* 기사이미지 설명글 */
.afig small{
    /* 글자체 : ff */
    font-family: 'Source Serif Pro';
    /* 글자 크기 : fz 
    - 글자 크기의 최저 한계는 10px */
    font-size: 12px;
    /* 글자색 : c */
    color:#424242
}

/* 2-4. 기사 내용 */
.arti p{
    /* 글자 크기 : fz */
    font-size: 16px;
    /* 줄 간격 : lh (line-height)
    주의 : 단위를 같이 안 적으면 배수로 적용됨, 기준은 글자 크기임 */
    line-height: 1.5;
    /* 양쪽 패딩 padding : 위아래 양쪽;*/
    padding: 0 10px;
    /* 자간 : ls */
    letter-spacing: 0.7px;
    /* 문단의 첫 글자 들여쓰기/내어쓰기 : ti
    양수는 들여쓰기, 음수는 내어쓰기 */
    /* text-indent: 5px; */

    /* 양쪽 정렬 : taj */
    text-align: justify;z
}

/* mark 요소 변경하기 */
.arti p mark{
    /* 인라인을 블록으로 출신 변경 */
    display: block;
    /* 글자 크기변경 */
    font-size: 20px;
    /* 줄간격 주기 */
    line-height: 2;
    /* 위아래 양쪽 패딩 */
    padding: 20px 50px;
    /* 배경색 */
    background-color: #ebebeb;
    /* 보더 위, 아래
    위(top), 아래(bottom)
    왼쪽(left), 오른쪽(light) */
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    /* 중앙정렬 */
    text-align: center;
    /* 위아래 마진 */
    margin: 15px;
}

/* p 요소 아래 em 요소 변경 */
.arti p em{
    /* 글자 그림자 ts : text-shadow
    값: x축 y축 블러 그림자색

    블러? 그림자 경계 흐림 정도 */
    text-shadow: 2px 2px 2px #fffd7a;
    /* 이탤릭 해제 fsn : font-style: nomal; */
    font-style: normal;
    /* 글자색 c */
    color: rgb(165, 56, 165);
    /* 글자 두껍게 fwb */
    font-weight: bold;
}

/* 2-5. 기자 정보 */
.rpt{
    /* display 출신 변경하기
    디자인 적용과 동시에 인라인 특성인 글자만큼만 크기가 잡히도록 인라인블록으로 변경함 */
    display: inline-block;
    /* 글자 크기 fz */
    font-size: 14px;
    /* 배경색 bgc */
    background-color: #dbdbdb;
    /* 패딩 */
    padding: 5px;
    /* 마진 */
    margin: 15px 0;
}
/* 2-6. 기사 원문
별도의 이름 없이 구조로만 기사원문을 선택한다. 직계자식*/
.cont>h5{
    /* 내부의 인라인요소 오른쪽 정렬 */
    text-align: right;
}
.cont>h5>a{
    /* 디자인 적용을 위해 display 변경 */
    display: inline-block;
    /* 기본 없애기 */
    margin: 20px 0;
    padding: 0;
    /* 가로, 세로 크기 만들기 */
    width: 70px;
    height: 70px;
    /* 테두리 */
    border: 2px solid #dbdbdb;
    /* 글자 중앙 */
    text-align: center;
    /* 세로 중앙 : 줄간격으로 */
    line-height: 70px;
    /* 테두리 모서리 둥글게 하기 brad : border-radius 
    brad -> 50%는 원 */
    border-radius: 50%;
    /* 배경색 */
    background-color: lightsteelblue;
}

/* 가상 클래스로 마우스 오버 시 박스 그림자 넣기 */
.cont>h5>a:hover{
    /* 박스 그림자 넣기 bsh
    box-shadow: x y blur 색
    (내부 그림자는 inset 사용) */
    box-shadow: 0px 0px 5px; color: darkblue;

    /* 그림자 크기 조절
    - spread 박스 그림자 크기 (필요 시 사용) */
    box-shadow: 0 0 5px darkblue;
}

/* 메인 공통 article 박스 디자인 */
.cont article{
    /* 구분선 : 보더 위 bdt */
    border-top: 2px dashed #ccc;
    /* 마진 위 mt */
    margin-top: 40px;
    /* 패딩 */
    padding: 15px;
}

/* 기사 관련 타이틀 h5 */
/* cont>h5와 구분하기 위해 중간 경로 article 씀 */
.cont article h5{
    /* 내용만큼 자동 크기 위해 inline-block */
    display: inline-block;
    /* 패딩 : 위아래 양쪽 */
    padding: 10px 20px;
    /* 배경색 bgc */
    background-color: #ebebeb;
    /* 헤딩요소 기본 마진 없앰 */
    margin: 0;
    /* 둥근 모서리 brad */
    border-radius: 20px;
    /* 내부 그림자 bsh
    inset은 내부 그림자 설정 */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.462);
    
    /* 글자 두께 fwn : 얇게 (기본 값) */
    font-weight: normal;
    /* 글자 크기 fz */
    font-size: 20px;
    /* 글자 들여쓰기 ti */
    text-indent: 20px;
    /* 글자색 c */
    color: #333;
}

/* 개별파트 타이틀 h3 */
.cont h3{
    /* 글자체 ff : 웹폰트 */
    font-family: 'Noto Sans KR', sans-serif;
    /* 글자 두께 (얇게) */
    font-weight: normal;
    /* 글자 크기 fz */
    font-size: 26px;
    /* 글자 들여쓰기 ti */
    text-indent: 20px;
    /* 글자색 c */
    color: #333;
}

/* 주해 박스 */
.desc div {
    /* 패딩 p : 위 양쪽 아래*/
    padding: 20px 5px 0;
    /* 줄간격 lh */
    line-height: 1.8;
    /* 자간 ls */
    letter-spacing: 0.7px;
    /* 양쪽 정렬 : taj */
    text-align: justify;z
}

/* 인용박스 */
.qb blockquote{
    /* 양쪽 정렬 : taj */
    text-align: justify;
    /* 기본 마진 없음 */
    margin: 0;
    /* 패딩 p : 위 양쪽 아래*/
    padding: 20px 5px 0;
    /* 줄간격 lh */
    line-height: 1.5;
    /* 자간 ls */
    /* letter-spacing: 0px; */
    /* 글자 크기 fz */
    font-size: 14px;
    /* 양쪽 정렬 : taj */
    text-align: justify;z
}

/* 오늘의 작품 & 느낌 */
.work{
    /* 글자 중앙 tac */
    text-align: center;
    /* 배경색 */
    /* background-color: lightcoral; */
    
    /* 그라데이션 -> 이미지로 bgi */
    linear-gradient: (15deg, red 10%, yellow 50%, blue 40%);
    /* background-image: linear-gradient(방향, 색1%, 색2%, ...)
    방향 : to top, to bottom, to left, ro right
    (방햑에 각도를 쓰면 그라데이션의 각도가 표현됨)
    -> 방향 대신 각도 : 수치 deg (예 456deg)

    * 샋앙르 카로 구분하여 나열하면 등분할 하여 그라데이션으로 표현되고, 색상 뒤에 %수치를 쓰면 특정 비율을 나타낼 수 있음
     */

     /* 배경옵션 추가
     background-clip : 배경이 적용되는 범위 설정
     1. border-box : border 까지(기본 값)
     2. padding border box: padding 까지
     3. content-box : 내용까지(패딩, 보더 빠짐) */
     background-clip: content-box;
}




